.body{
    align-items: center;
    color: pink;
    display: flex;

}
.div1{
    float: right;
    display: flex;


}
.div2{
    float: right;
    display: flex;
    margin-top: 10%;
    margin-right: 5%;

}
.button{
    width: 5%;
    margin-top: 5%;
    
}